{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Enter{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="mx-auto" style="max-width: 400px;">
        <h2 class="text-center">Enter</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100">Enter</button>
        </form>
        
        <!-- Forgot Password Link -->
        <div class="text-center mt-3">
            <a href="{% url 'password_reset' %}" class="text-decoration-none text-primary">
                Forgot Password?
            </a>
        </div>
    </div>
</div>
{% endblock content %}
